<div class="ui six cards">
    <a class="yellow card" href="/pbi2">
        <div class="image center aligned">
            <i class="tasks massive icon"></i>
        </div>
        <div class="content">
            <div class="header center aligned">PBI 2</div>
        </div>
    </a>
    <a class="olive card" href="pbi3">
        <div class="image center aligned">
            <i class="tasks massive icon"></i>
        </div>
        <div class="content">
            <div class="header center aligned">PBI 3</div>
        </div>
    </a>
    <a class="green card" href="pbi4">
        <div class="image center aligned">
            <i class="tasks massive icon"></i>
        </div>
        <div class="content">
            <div class="header center aligned">PBI 4</div>
        </div>
    </a>
    <% if(title=="Express JS"){ %>
    <a class="blue card" href="pbi6">
        <div class="image center aligned">
            <i class="tasks massive icon"></i>
        </div>
        <div class="content">
            <div class="header center aligned">PBI 6</div>
        </div>
    </a>
    <% } %>
</div>
<div class="ui six cards padded">
    <a class="red card" href="http://localhost:3000/">
        <div class="image">
            <img src="/images/nodejs.png">
        </div>
        <div class="content">
            <div class="header center aligned">Node JS</div>
        </div>
    </a>
    <a class="orange card" href="http://localhost:3400/">
        <div class="image">
            <img src="/images/expressjs.png">
        </div>
        <div class="content">
            <div class="header center aligned">Express JS</div>
        </div>
    </a>
</div>