<div class="ui top attached menu">
    <a class="item" onclick="toggle()">
        <i class="sidebar icon"></i>
    </a>
    <a class="item" href="/">
        <h2 class="ui header">
        <i class="users icon"></i>
        <div class="content">
            BIMA TEAM
        </div>
        </h2>
    </a>
</div>